<!--
  Generated template for the OrderlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color:#2FBBD4"></ion-icon>
    </button>
    <ion-title>orderlist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<div class="top-wrapper wrapper">
			<section>
				<ul class="order-list">
					<li>
					  <a href="javascript:void(0)" (click)="showDetail()">
					   <div class="order-top">
					   	   <div>预订编号：M3XE97NF</div>
					   	   <span>成功</span>
					   </div>
					   <div class="order-cen">
					      <p class="order-hotel"><span>酒店：MERCURE</span><span class="price">AUD<b>249</b></span></p>
					   	  <p class="order-time">
					   	  	 <span class="start-time">2017-8-9</span>~<span class="end-time">2017-8-19</span>
					   	  </p> 
					   	  <p class="order-account">账号：<span>Tatriptor</span></p>
					   	   
					   </div>
					  </a> 	
					</li>
					<li>
					  <a href="orderDetails.html">
					   <div class="order-top">
					   	   <div>预订编号：M3XE97NF</div>
					   	   <span>成功</span>
					   </div>
					   <div class="order-cen">
					      <p class="order-hotel"><span>酒店：MERCURE</span><span class="price">AUD<b>249</b></span></p>
					   	  <p class="order-time">
					   	  	 <span class="start-time">2017-8-9</span>~<span class="end-time">2017-8-19</span>
					   	  </p> 
					   	  <p class="order-account">账号：<span>Tatriptor</span></p>
					   	   
					   </div>
					  </a> 	
					</li>
					<li>
					  <a href="orderDetails.html">
					   <div class="order-top">
					   	   <div>预订编号：M3XE97NF</div>
					   	   <span>成功</span>
					   </div>
					   <div class="order-cen">
					      <p class="order-hotel"><span>酒店：MERCURE</span><span class="price">AUD<b>249</b></span></p>
					   	  <p class="order-time">
					   	  	 <span class="start-time">2017-8-9</span>~<span class="end-time">2017-8-19</span>
					   	  </p> 
					   	  <p class="order-account">账号：<span>Tatriptor</span></p>
					   	   
					   </div>
					  </a> 	
					</li>
					<li>
					  <a href="orderDetails.html">
					   <div class="order-top">
					   	   <div>预订编号：M3XE97NF</div>
					   	   <span>成功</span>
					   </div>
					   <div class="order-cen">
					      <p class="order-hotel"><span>酒店：MERCURE</span><span class="price">AUD<b>249</b></span></p>
					   	  <p class="order-time">
					   	  	 <span class="start-time">2017-8-9</span>~<span class="end-time">2017-8-19</span>
					   	  </p> 
					   	  <p class="order-account">账号：<span>Tatriptor</span></p>
					   	   
					   </div>
					  </a> 	
					</li>												
				</ul>
			</section>
		</div>	

</ion-content>
