page-orderlist {
    ion-content .scroll-content {
        margin-top: 12px !important;
    }

    .order-list {
        > li {
            position: relative;
            line-height: 2.5rem;
            font-size: 1.1rem;
            &:after {
                display: block;
                height: 0.8rem;
                background: #f1f2f4;
                content: '';
            }
            &:last-child:after {
                background-color: transparent;
            }
            > a {
                display: block;
            }
        }
        .order-top {
            padding: 0 0.8rem;
            text-align: right;
            line-height: 3rem;
            border-bottom: 1px solid #ddd;
            div {
                float: left;
            }
            span {
                color: #2FBBD4;
            }
        }
        .order-cen {
            padding: 0 0.8rem;
        }
        .order-hotel .price {
            float: right;
            font-family: Arial;
            color: #FF4d78;
            b {
                padding-left: 0.2rem;
                font-weight: 400;
                font-size: 1.2rem;
            }
        }
    }
    .dialog-black {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        z-index: 22;
        background: rgba(0, 0, 0, 0.4);
    }
    .dialog-level {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        z-index: 23;
        .dialog-head {
            height: 3rem;
            line-height: 3rem;
            background-color: #f5f5f5;
            span {
                color: #2FBBD4;
                font-size: 1.1rem;
                &.cancel {
                    float: left;
                    margin-left: 0.8rem;
                }
                &.affirm {
                    float: right;
                    margin-right: 0.8rem;
                }
            }
        }
    }
    .hotel-entry {
        height: 12rem;
        overflow-y: scroll;
        > li {
            padding: 0 0.8rem;
            line-height: 3rem;
            height: 3rem;
            font-size: 1.1rem;
            color: #6f6f6f;
            border-bottom: 1px solid #ddd;
            &.cur {
                color: #2FBBD4;
            }
            &:last-child {
                border-color: transparent;
            }
            > span {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
