page-accountinfo {
    ion-content .scroll-content {
        margin-top: 8px !important;
    }
    .message-tips {
        padding: 0 1rem;
        line-height: 3rem;
        font-size: 1.2rem;
        color: #2FBBD4;
    }
    label {
        line-height: 3rem;
    }
    .message-list > li {
        padding: 0 1rem 0 1.1rem;
        font-size: 1.15rem;
        line-height: 3rem;
        color: #5D5D5D;
        border-bottom: 1px solid #ddd;
        background-color: #fff;
        &:last-child {
            border-color: transparent;
        }
        > span {
            display: block;
            width: 56%;
            text-align: left;
        }
    }
}
