<!--
  Generated template for the AccountinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu" style="color:#2FBBD4"></ion-icon>
        </button>
        <ion-title>accountinfo</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="top-wrapper wrapper" *ngIf="accountInfo">
        <section>
            <h2 class="message-tips">我的信息</h2>
            <ul class="message-list tr">
                <li class="box">
                    <label class="flex">公司名称：</label><span>{{accountInfo.companyName}}</span></li>
                <li class="box">
                    <label class="flex">公司编号：</label><span>{{accountInfo.companyId}}</span></li>
                <li class="box">
                    <label class="flex">账号：</label><span>{{accountInfo.accountId}}</span></li>
                <li class="box">
                    <label class="flex">联系邮箱：</label><span>{{accountInfo.email}}</span></li>
                <li class="box">
                    <label class="flex">统一社会信用代码：</label><span>{{accountInfo.taxNumber}}</span></li>
                <li class="box">
                    <label class="flex">权限：</label><span>{{getRoleName(accountInfo.role) | translate }}</span></li>
            </ul>
        </section>
        <section>
            <h2 class="message-tips">我的权限</h2>
            <ul class="message-list tr">
                <li class="box">
                    <label class="flex">是否可以预定：</label><span>{{checkBookPriviege('book') | translate }}</span></li>
            </ul>
        </section>
    </div>
</ion-content>
