page-home {
    $color_1: #f04f79;
    $color_2: #55595c;
    $color_3: #fff;
    $background_color_1: #fff;
    .swiper-slide {
        img {
            width: 100%;
            height: 11rem;
        }
    }
    .title-image {
        float: right;
        height: 1.8rem;
        max-width: 100%;
    }
    .search-area {
        background-color: $background_color_1;
        .log {
            float: left;
            padding: 0.8rem 0 0.8rem 0;
            img {
                height: 2rem;
            }
        }
        .hotel-tab {
            padding-top: 0.8rem;
            line-height: 2rem;
            color: $color_1;
        }
    }
    .hotel-type {
        border-bottom: 1px solid #ddd;
    }
    .conditions {
        padding: 0 0.8rem;
        li {
            margin-top: 1.1rem;
            height: 3.1rem;
            >a {
                position: relative;
                display: block;
                padding: 0 2.5rem;
                font-size: 1.3rem;
                color: $color_2;
                line-height: 3rem;
                border: 1px solid #ddd;
                border-radius: 4px;
                &:after {
                    position: absolute;
                    left: 0.6rem;
                    top: 0.58rem;
                    height: 1.5rem;
                    width: 1.5rem;
                    content: '';
                }
                >p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            >a.location {
                &:after {
                    background: url('/assets/images/icon01.png');
                    background-size: 100% 100%;
                }
            }
            >a.time {
                &:after {
                    background: url('/assets/images/icon02.png');
                    background-size: 100% 100%;
                }
            }
            >a.hotel {
                &:after {
                    background: url('/assets/images/icon03.png');
                    background-size: 100% 100%;
                }
            }
            .time {
                &:first-child {
                    margin-right: 0.5rem;
                }
            }
        }
        .btn-primary {
            width: 100%;
            line-height: 3.1rem;
            color: $color_3 !important;
            text-align: center;
            box-sizing: border-box;
        }
        .time-input {
            padding: 0.5rem 1rem 0.5rem 2.3rem;
            border: 1px solid #ddd;
            font-size: 1.3rem;
            line-height: 3rem;
            height: 3rem;
            border-radius: 4px;
            background: url('/assets/images/icon02.png') no-repeat 0.5rem center #fff;
            background-size: 1.5rem 1.5rem;
            &:first-child {
                margin-right: 0.5rem;
            }
        }
    }
    .removeText {
        float: right;
        position: relative;
        padding-top: 0.2rem;
    }
    .head-view {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 3.2rem;
        background: #2FBBD4;
        z-index: 9;
        h2 {
            margin: 0;
            height: 3.2rem;
            font-size: 1.2rem;
            line-height: 3.2rem;
            color: $color_3;
        }
        .head-back {
            position: absolute;
            left: 0;
            width: 1.8rem;
            height: 3.2rem;
            background: url('/assets/images/icon04.png') no-repeat center;
            background-size: 1.6rem 1.6rem;
            z-index: 3;
        }
        .head-loca {
            position: absolute;
            right: 0.5rem;
            top: 0;
            width: 1.8rem;
            height: 3rem;
            background: url('/assets/images/icon16.png') no-repeat center;
            background-size: 1.6rem 1.6rem;
            z-index: 3;
        }
        .head-log {
            padding-left: 0.8rem;
            img {
                padding-top: 0.7rem;
                height: 1.8rem;
                max-width: 100%;
            }
        }
        .head-more {
            display: block;
            position: absolute;
            right: 0.8rem;
            top: 0.6rem;
            width: 1.8rem;
            height: 1.8rem;
            background: url('/assets/images/icon28.png') no-repeat;
            background-size: cover;
        }
        .close-btn {
            position: absolute;
            top: 0;
            right: 0.8rem;
            padding: 0 0.8rem;
            height: 3.2rem;
            line-height: 3.2rem;
            color: $color_3;
        }
    }
    .head-dail {
        background: transparent;
    }
    .head-index {
        background: #fff;
    }
    .menu {
        .menu-list {
            position: fixed;
            left: 0;
            right: 0;
            top: 3rem;
            z-index: 6;
            line-height: 2.8rem;
            font-size: 1.1rem;
            a {
                display: block;
                text-align: center;
                text-align: center;
                border-top: 1px solid #ddd;
                background: #fff;
            }
        }
        .menu-black {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 2;
        }
    }
    .menu.hide {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        z-index: -1;
    }
}
