<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color:#2FBBD4"></ion-icon>
    </button>
    <ion-title>{{ 'Home' | translate }}<img class="title-image" src="assets/images/logo.svg" /></ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
    <div class="all-wrapper wrapper">
        <div class="single swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide ng-scope">
                    <a><img src="assets/images/harbourbridge-operahouse.jpg" /></a>
                </li>
            </ul>
        </div>
        <div class="search-area">
            <ul class="conditions">
                <li>
                    <a class="location" href="javascript:void(0)" (click)="searchCity()" placeholder="Input city name">
                        <p>{{cityName}}</p><i class="h-arr"></i>
                    </a>
                </li>
                <li class="box">
                    <input type="date" class="time-input flex" placeholder="check-int" [ngModel]="arrival" (click)="openCalendar()"/>
                    <input type="date" class="time-input flex" placeholder="check-out" [ngModel]="departure" (click)="openCalendar()"/>
                </li>
                <li>
                    <a class="hotel J-hotel">
                        <span class = "removeText" *ngIf ="checkInput()" (click)="removeText()"> 
                            <ion-icon name="close-circle" color = "greyIcon"></ion-icon>
                        </span>
                         <p (click)="showHotelList()" >{{hotel}}</p><i class="z-arr" (click)="showHotelList()"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" (click)="searchHotel()" class="btn btn-primary">查询</a>
                </li>
            </ul>
        </div>
    </div>
</ion-content>
