    <div *ngIf="hotelRating">
        <ng-template ngFor let-item [ngForOf]="createStarRange(hotelRating)" [ngForTrackBy]="trackByFn">  
            <img src="assets/images/icon-star.svg">
        </ng-template>
        <img src="assets/images/half-star.svg" *ngIf="hasHalfStar(hotelRating)">
    </div>