$color_1: #55595c;
$color_2: #fff;
$font_family_1: '\5FAE\8F6F\96C5\9ED1', Arial, '\82F9\679C\4E3D\4E2D\9ED1';
$background_color_1: #fff;
$background_color_2: #2FBBD4;
$border_color_1: #2FBBD4;

/*-----------------Reset module-----------------*/
/*-----------------Button  module-----------------*/
/*-----------------Public module-----------------*/
/*-----------------head module-----------------*/
/*-----------------CSS Media Queries-----------------*/
* {
	margin: 0;
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background-color: $background_color_1;
	font-family: $font_family_1;
	a {
		&:visited {
			color: $color_1;
			text-decoration: none;
		}
	}
}
menu {
	padding: 0;
	margin: 0;
}
h2 {
	font-weight: 400;
}
ul {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
}
a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	outline: none;
	color: $color_1;
	-webkit-touch-callout: none;
}
img {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	outline: none;
	color: $color_1;
	-webkit-touch-callout: none;
}
button {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	outline: none;
	color: $color_1;
}
input {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	outline: none;
	color: $color_1;
}
textarea {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	outline: none;
	color: $color_1;
}
time {
	white-space: nowrap;
}
audio {
	&:not([controls]) {
		display: none;
		height: 0;
	}
}
.btn {
	display: inline-block;
	font-size: 1.4rem;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn-primary {
	background-color: $background_color_2;
	color: $color_2;
	border-color: $border_color_1;
}

.ion-page {
	background-color: $background_color_1;
}

.scroll-content{
    padding-top: 0 !important;
}

.wrapper {
    position: relative;
    width: 100%;
    background: #fff;
}

.top-wrapper {
	margin-top: 3.2rem;
}
.all-wrapper {
	margin: 3rem 0 3.6rem;
}
.bom-wrapper {
	margin-bottom: 3.6rem;
}
.box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-box-align: center;
	-moz-box-align: justify;
	-ms-flex-align: center;
	justify-content: space-between;
}
.flex {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	box-sizing: border-box;
	display: block;
}
.h-arr {
	position: absolute;
	content: '';
	right: 0.8rem;
	top: 50%;
	margin-top: -0.4rem;
	width: 0.8rem;
	height: 0.8rem;
	border-top: 2px solid #ddd;
	border-right: 2px solid #ddd;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.z-arr {
	position: absolute;
	content: '';
	right: 0.8rem;
	top: 50%;
	margin-top: -0.8rem;
	width: 0.8rem;
	height: 0.8rem;
	border-top: 2px solid #ddd;
	border-right: 2px solid #ddd;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.tc {
	text-align: center;
}
.tl {
	text-align: left;
}
.tr {
	text-align: right;
}
.none {
	display: none;
}
.head-view {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 3.2rem;
	background: #2FBBD4;
	z-index: 9;
	h2 {
		margin: 0;
		height: 3.2rem;
		font-size: 1.2rem;
		line-height: 3.2rem;
		color: $color_2;
	}
	.head-back {
		position: absolute;
		left: 0;
		width: 1.8rem;
		height: 3.2rem;
		background: url('/assets/images/icon04.png') no-repeat center;
		background-size: 1.6rem 1.6rem;
		z-index: 3;
	}
	.head-loca {
		position: absolute;
		right: 0.5rem;
		top: 0;
		width: 1.8rem;
		height: 3rem;
		background: url('/assets/images/icon16.png') no-repeat center;
		background-size: 1.6rem 1.6rem;
		z-index: 3;
	}
	.head-log {
		padding-left: 0.8rem;
		img {
			padding-top: 0.7rem;
			height: 1.8rem;
			max-width: 100%;
		}
	}
	.head-more {
		display: block;
		position: absolute;
		right: 0.8rem;
		top: 0.6rem;
		width: 1.8rem;
		height: 1.8rem;
		background: url('/assets/images/icon28.png') no-repeat;
		background-size: cover;
	}
	.close-btn {
		position: absolute;
		top: 0;
		right: 0.8rem;
		padding: 0 0.8rem;
		height: 3.2rem;
		line-height: 3.2rem;
		color: $color_2;
	}
}
.head-dail {
	background: transparent;
}
.head-index {
	background: #fff;
}
.menu {
	.menu-list {
		position: fixed;
		left: 0;
		right: 0;
		top: 3rem;
		z-index: 6;
		line-height: 2.8rem;
		font-size: 1.1rem;
		a {
			display: block;
			text-align: center;
			text-align: center;
			border-top: 1px solid #ddd;
			background: #fff;
		}
	}
	.menu-black {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 2;
	}
}
.menu.hide {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	z-index: -1;
}
@media screen and (max-width:320px) {
	html {
		font-size: 12px;
	}
}
@media screen and (min-width: 321px) and (max-width: 379px) {
	html {
		font-size: 14px;
	}
}
@media screen and (min-width: 380px) and (max-width: 429px) {
	html {
		font-size: 16px;
	}
}
@media screen and (min-width: 430px) and (max-width: 479px) {
	html {
		font-size: 18px;
	}
}
@media screen and (min-width: 480px) and (max-width: 639px) {
	html {
		font-size: 20px;
	}
}
@media screen and (min-width: 640px) and (max-width: 767px) {
	html {
		font-size: 22px;
	}
}
@media screen and (min-width:768px) and (max-width: 979px) {
	html {
		font-size: 24px;
	}
}
@media screen and (min-width: 980px) and (max-width:1199px) {
	html {
		font-size: 24px;
	}
}
@media screen and (min-width:1200px) {
	html {
		font-size: 25px;
	}
}
