page-hoteldetail {
    .hotel-img {
        position: relative;
        height: 14rem;
        img {
            width: 100%;
            height: 100%;
        }
        .enshrine {
            position: absolute;
            top: 0.9rem;
            right: 1rem;
            width: 1.6rem;
            height: 1.6rem;
            background: url(/assets/images/icon-bar01.png) no-repeat;
            background-size: cover;
            z-index: 11;
            &.select {
                background: url(/assets/images/icon08.png) no-repeat;
                background-size: cover;
            }
        }
    }
    h3 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .hotel-info {
        font-size: 1.1rem;
        color: #55595c;
        .cn-name {
            font-size: 1.3rem;
            color: #000;
        }
        .en-name {
            font-size: 1.1rem;
        }
        .hotel-star {
            padding-top: 0.3rem;
            font-size: 1.1rem;
        }
        .address a {
            display: block;
            position: relative;
            padding: 0 0.8rem 0 3rem;
            height: 2.8rem;
            line-height: 3rem;
            border-bottom: 1px solid #ddd;
            &:before {
                position: absolute;
                left: 0.8rem;
                top: 0.6rem;
                width: 1.6rem;
                height: 1.6rem;
                background: url(/assets/images/icon25.png) no-repeat;
                background-size: cover;
                content: '';
            }
            &:after {
                position: absolute;
                right: 0.8rem;
                top: 0.6rem;
                width: 1.6rem;
                height: 1.6rem;
                background: url(/assets/images/icon10.png) no-repeat;
                background-size: cover;
                content: '';
            }
        }
        .explain {
            padding: 0.5rem 0.8rem;
            line-height: 1.4rem;
            font-size: 0.9rem;
            border-bottom: 1px solid #ddd;
            overflow: hidden;
            p {
                line-height: 1.4rem;
                height: 4.2rem;
                overflow: hidden;
            }
            .more {
                float: right;
                margin-top: 0.3rem;
                color: #2FBBD4;
                font-size: 1rem;
            }
        }
        .new-date {
            position: relative;
            padding: 0 3.5rem 0 0.8rem;
            line-height: 1.3rem;
            font-size: 0.9rem;
            border-bottom: 1px solid #ddd;
            &:after {
                position: absolute;
                right: 0.8rem;
                top: 0.6rem;
                width: 1.6rem;
                height: 1.6rem;
                background: url(/assets/images/icon10.png) no-repeat;
                background-size: cover;
                content: '';
            }
            a {
                padding: 0.4rem 0;
            }
            span {
                display: block;
                color: #2FBBD4;
            }
            .data {
                width: 80%;
                > * {
                    float: left;
                }
                p {
                    text-align: center;
                }
                .line {
                    color: #55595c;
                    padding: 0 0.5rem;
                }
            }
            .populate {
                width: 20%;
                text-align: right;
            }
        }
    }
    .hotel-img .hotel-img-info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.5rem 0.8rem;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        .cn-name {
            font-size: 1.2rem;
        }
        .hotel-star {
            padding-top: 0.3rem;
            font-size: 0.9rem;
            i {
                display: block;
                float: left;
                margin-right: 0.3rem;
                width: 0.8rem;
                height: 0.8rem;
                background: url(/assets/images/hot.png) no-repeat;
                background-size: cover;
            }
        }
    }
    .room-simple {
        padding: 0.5rem 0.8rem;
        background: #f4f4f4;
    }
    .room-plan {
        font-size: 0.9rem;
        color: #55595c;
        .room-left {
            float: left;
            width: 70%;
            h3 {
                font-size: 1.1rem;
                line-height: 2rem;
            }
            p {
                padding-top: 0.4rem;
            }
        }
        .room-right {
            float: left;
            width: 30%;
            .price {
                line-height: 2rem;
                font-size: 1rem;
                color: #2FBBD4;
                font-weight: 700;
            }
            .btn {
                text-align: right;
                a {
                    display: inline-block;
                    padding: 0 0.8rem;
                    height: 2.2rem;
                    line-height: 2rem;
                    font-size: 1rem;
                    color: #fff;
                    background: #2FBBD4;
                    border-radius: 4px;
                }
            }
        }
        .tips {
            padding: 0.3rem 0 0;
            clear: both;
        }
    }
    .room-complex {
        padding: 0.5rem 0.8rem;
        border: 1px solid #ddd;
        border-width: 1px 0;
        .room-img img {
            max-width: 100%;
        }
        .marke {
            text-decoration: line-through;
        }
        .room-plan {
            padding-top: 0.8rem;
            .room-left h3 {
                line-height: 1.1rem;
            }
        }
    }
    .room-info {
        padding-top: 1.2rem;
        line-height: 1.2rem;
        clear: both;
        .replenish {
            height: 2.4rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .more a {
            color: #2FBBD4;
        }
    }
    .room-facility {
        padding: 0.5rem 0.8rem;
        font-size: 0.95rem;
        line-height: 1.3rem;
        color: #55595c;
        .title {
            line-height: 1.6rem;
            font-weight: 700;
            font-size: 1.1rem;
        }
    }
    .reference {
        padding: 0.5rem 0.8rem;
        line-height: 1.5rem;
        font-size: 1.1rem;
        border-top: 1px solid #ddd;
        span {
            color: #55595c;
        }
        .tips {
            font-size: 0.9rem;
            color: #55595c;
        }
    }
    .restrict-list {
        border-bottom: 1px solid #ddd;
        li {
            > a {
                position: relative;
                display: block;
                padding: 0 0.8rem;
                font-size: 1.1rem;
                line-height: 2.8rem;
                border-top: 1px solid #ddd;
                &:after {
                    position: absolute;
                    right: 0.8rem;
                    top: 0.6rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    background: url(/assets/images/icon10.png) no-repeat;
                    background-size: cover;
                    content: '';
                }
            }
            span {
                padding-left: 2rem;
                color: #000;
            }
        }
    }
    .adult {
        position: relative;
        height: 3rem;
        padding: 0 0.8rem;
        margin-bottom: 0.4rem;
        border-bottom: 1px solid #ddd;
        &:after {
            position: absolute;
            bottom: -0.45rem;
            left: 0;
            right: 0;
            display: block;
            height: 0.4rem;
            background: #f4f4f4;
            content: '';
        }
        > label {
            font-size: 1.1rem;
            line-height: 3rem;
        }
        .adjust-num {
            float: right;
            padding-top: 4px;
            span {
                float: left;
                width: 2.2rem;
                height: 2.2rem;
                line-height: 2.2rem;
                font-size: 1.2rem;
                text-align: center;
                background: #f4f4f4;
            }
            .num {
                background: #fff;
            }
        }
    }
}
