<!--
  Generated template for the HoteldetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-navbar transparent>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="wrapper">
        <section>
            <div class="hotel-img">
                <img src="/assets/images/Mercure-Hotel-Welcome-Melbourne.jpg" />
                <i class="enshrine J-enshrine"></i>
                <div class="hotel-img-info">
                    <h3 class="cn-name">悉尼旅程住宿酒店</h3>
                    <p class="hotel-star"><i></i><i></i><i></i></p>
                </div>
            </div>
            <div class="hotel-info">
                <p class="address"><a href="#">悉尼, 澳大利亚</a></p>
                <div class="explain">
                    <p>Travelodge Sydney酒店距离海德公园（Hyde Park）和时尚的牛津街（Oxford Street）仅有2分钟步行路程，提供自助式客房和健身中心。每间客房均设有小厨房以及液晶卫星电视。 Sydney Travelodge酒店位于悉尼中央商务区（Sydney CBD），距离博物馆火车站（Museum Train Station）仅有5分钟步行路程，距离达令港（Darling Harbour）2公里，距离唐人街（Chinatown）有10分钟步行路程。</p>
                    <span class="more">More</span>
                </div>
                <div class="new-date box">
                    <a class="data">
                        <p class="data-left">入住<span class="start-time">7-25</span></p>
                        <span class="line">-</span>
                        <p class="data-right">离店<span class="end-time">7-30</span></p>
                    </a>
                    <a class="populate flex" href="select.html">
                        <p>
                            <label>1</label>成人</p>
                        <p>
                            <label>0</label>儿童</p>
                    </a>
                </div>
            </div>
        </section>
        <section>
            <div class="room-simple">
                <div class="room-plan">
                    <div class="room-left">
                        <h3>Travelodge Hotel Sydney</h3>
                        <p>早餐</p>
                    </div>
                    <div class="room-right tr">
                        <p class="price">AUD87</p>
                        <p class="btn"><a>View room</a></p>
                    </div>
                    <p class="tips">取消政策</p>
                </div>
            </div>
            <div class="room-complex">
                <div class="room-img"><img src="/assets/images/Travelodge-sydney.jpg" /></div>
                <div class="room-plan">
                    <div class="room-left">
                        <h3>6 Share Female Dorm-Shared Bathroom-Room Only Rate</h3>
                        <p>1 single bed</p>
                        <p>100平</p>
                        <p>3人</p>
                    </div>
                    <div class="room-right tr">
                        <p class="marke">AUD97</p>
                        <p class="price">AUD87</p>
                        <p>早餐</p>
                        <p class="btn"><a>Select</a></p>
                    </div>
                    <div class="room-info">
                        <p class="replenish">6 Share Female Dorm-Shared Bathroom-Room Only Rate6 Share Female Dorm-Shared Bathroom-Room Only Rate6 Share Female Dorm-Shared Bathroom-Room Only Rate</p>
                        <p class="tr more"><a>more</a></p>
                    </div>
                </div>
            </div>
            <div class="room-facility">
                <h3 class="title">Property Amenities</h3>
                <p>6 Share Female Dorm-Shared Bathroom-Room Only Rate6 Share Female Dorm-Shared Bathroom-Room Only Rate6 Share Female Dorm-Shared Bathroom-Room Only Rate</p>
            </div>
        </section>
    </div>
</ion-content>
