<!--
  Generated template for the CitylistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>citylist</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="top-wrapper wrapper">
        <form id="searchform">
            <div class="dst-search box">
                <input type="search" class="search-input flex" placeholder="请输入城市名称或拼音" (keyup)="filterCities($event)" [ngModel]='inputString' name="citySearch"/>
                <span class="cancel"><input type="submit" class="icons-search" value="取消" /></span>
            </div>
        </form>
        <section>
            <ol class="city-list" *ngIf="inputString.length==0">
                <li>
                    <h4 class="letter-city">澳大利亚</h4>
                    <ul class="sub-city">
                        <li *ngFor="let item of AustraliaCitys"><a (click)="selectCity(item)" href="javascript:void(0)">{{item.cityName}}</a></li>
                    </ul>
                </li>
                <li>
                    <h4 class="letter-city">新西兰</h4>
                    <ul class="sub-city">
                        <li *ngFor="let item of NewZealand"><a (click)="selectCity(item)" href="javascript:void(0)">{{item.cityName}}</a></li>
                    </ul>
                </li>
            </ol>
            <ol class="city-list" *ngIf="inputString.length>0">
                <li>
                    <h4 class="letter-city">Search results:</h4>
                    <ul class="sub-city">
                        <li *ngFor="let item of searchResults" >
                            <a (click)="selectCity(item)" href="javascript:void(0)">{{item.cityName}}</a>
                        </li>
                    </ul>
                </li>
            </ol>
        </section>
    </div>
</ion-content>
