page-citylist {
    ion-content .scroll-content {
        margin-top: 12px !important;
    }

    .dst-search {
        position: relative;
        padding: 0.8rem;
        border-bottom: 1px solid #ddd;
        background: #fff;
        z-index: 3;
        .search-input {
            padding: 0.5rem 1rem 0.5rem 2.3rem;
            border: 1px solid #ddd;
            font-size: 1.1rem;
            line-height: 2rem;
            height: 3rem;
            border-radius: 4px;
            background: url(/assets/images/icon05.png) no-repeat 0.5rem center #fff;
            background-size: 1.5rem 1.5rem;
        }
        .time-input {
            padding: 0.5rem 1rem 0.5rem 2.3rem;
            border: 1px solid #ddd;
            font-size: 1.1rem;
            line-height: 2rem;
            height: 3rem;
            border-radius: 4px;
            background: url(/assets/images/icon15.png) no-repeat 0.5rem center #fff;
            background-size: 1.5rem 1.5rem;
            &:first-child {
                margin-right: 0.5rem;
            }
        }
        .cancel {
            display: inline-block;
            width: 17%;
            .icons-search {
                width: 100%;
                text-align: center;
                background: transparent;
                border: none;
                font-size: 1.1rem;
                line-height: 3rem;
            }
        }
    }
    .city-list {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #fff;
        > li {
            padding: 0 0.8rem;
            line-height: 2.8rem;
            font-size: 1.1rem;
            border-bottom: 1px solid #ddd;
            &:last-child {
                border-color: transparent;
            }
        }
        .letter-city {
            padding-left: 1.8rem;
            line-height: 2.9rem;
            color: #2FBBD4;
            background: url(/assets/images/icon01.png) no-repeat left center;
            background-size: 1.5rem 1.5rem;
        }
    }
    .sub-city > li > a {
        display: block;
    }
}
