<!--
  Generated template for the OrderdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>orderdetail</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="top-wrapper wrapper">
        <section>
            <h2 class="order-tips">酒店信息</h2>
            <div class="order-info">
                <p>MECURE</p>
                <p>三星</p>
                <p>澳大利亚</p>
                <p>Tel：
                    <label>61292176666</label>
                </p>
            </div>
        </section>
        <section>
            <h2 class="order-tips">订单信息</h2>
            <div class="order-info">
                <p><span>账号：</span>
                    <label>Tamlselve</label>
                </p>
                <p><span>公司编号：</span>
                    <label>COZITRIP</label>
                </p>
                <p><span>入住时间：</span>
                    <time>207-08-25</time>
                </p>
                <p><span>离开时间：</span>
                    <time>207-08-25</time>
                </p>
                <p><span>房间号码：</span>
                    <label>207-08-25</label>
                </p>
            </div>
        </section>
    </div>
</ion-content>
