page-orderdetail {
    ion-content .scroll-content {
        margin-top: 12px !important;
    }

    .order-tips {
        padding: 0 0.8rem;
        border: 1px solid #ddd;
        border-width: 1px 0;
        font-size: 1.1rem;
        line-height: 2.7rem;
        color: #2FBBD4;
    }
    .order-info {
        padding: 0 0.8rem;
        line-height: 2.5rem;
        span {
            display: inline-block;
            text-align: right;
            width: 35%;
        }
    }
}
