<!--
  Generated template for the HotellistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="cozi">
  	<!-- Modal dosent include nav bar for some reason. Have to put it in manually.-->
  	    <ion-buttons left>
	        <button ion-button icon-only (click)="viewCtrl.dismiss(' ')">
	        	<ion-icon name="arrow-back"></ion-icon>
	    	</button>
    	</ion-buttons>
    <ion-title>Hotel List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
<article>
		<div class="top-wrapper wrapper">
		    <form id="searchform">
		    	<div class="dst-search box">
		    		<!-- Variable inputString is bound thus whenever a user clicks on the box, the name will appear in the text box. -->
		    		<input type="search" class="search-input flex" placeholder="请输入城市名称或拼音" (keyup)="filterHotels($event)" [(ngModel)]='inputString' name = inputS/>
		    		<span class="cancel"><input type="submit" class="icons-search" value="取消" (click)="submitText()"/></span>
		    	</div>
		    </form>	
		    <section>
		    	<ol class="hotel-list">
		    		<li>
		    			<!-- Add error message when it returns a size of 0-->
                        <ul class="hotels" *ngFor= "let hotel of hotels" (click)="extractName(hotel.name)">
                        	{{hotel.name | uppercase}}
                        	<br>
                        	<span style="color:#2FBBD4; text-align:center;" >{{hotel.cityName | uppercase}}</span>
                        </ul>
		    		</li>		    		
		    	</ol>
		    </section>
		</div>		
</article> 
</ion-content>
