page-hotellist {
    .top-wrapper {
        margin-top: 0rem;
    }
    .dst-search {
        position: relative;
        padding: 0.8rem;
        border-bottom: 1px solid #ddd;
        background: #fff;
        z-index: 3;
        .search-input {
            padding: 0.5rem 1rem 0.5rem 2.3rem;
            border: 1px solid #ddd;
            font-size: 1.1rem;
            line-height: 2rem;
            height: 3rem;
            border-radius: 4px;
            background: url(/assets/images/icon05.png) no-repeat 0.5rem center #fff;
            background-size: 1.5rem 1.5rem;
        }
        .time-input {
            padding: 0.5rem 1rem 0.5rem 2.3rem;
            border: 1px solid #ddd;
            font-size: 1.1rem;
            line-height: 2rem;
            height: 3rem;
            border-radius: 4px;
            background: url(/assets/images/icon15.png) no-repeat 0.5rem center #fff;
            background-size: 1.5rem 1.5rem;
            &:first-child {
                margin-right: 0.5rem;
            }
        }
        .cancel {
            display: inline-block;
            width: 17%;
            .icons-search {
                width: 100%;
                text-align: center;
                background: transparent;
                border: none;
                font-size: 1.1rem;
                line-height: 3rem;
            }
        }
    }
    .hotel-list {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #fff;
        > li {
            padding: 0 0.8rem;
            line-height: 2.8rem;
            font-size: 1.1rem;
            border-bottom: 1px solid #ddd;
            > ul {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                border-bottom: 2px solid #DCDCDC;
            }
            &:last-child {
                border-color: transparent;
            }
        }
    }
    .hotels > a {
        display: block;
    }
}
