page-searchhotels {
    ion-content .scroll-content {
        margin-top: 12px !important;
    }
    .hotel-all {
        background-color: #fff;
    }
    #myProgress {
        position: relative;
        width: 100%;
        height: 4px;
    }
    #myBar {
        position: absolute;
        width: 0%;
        height: 100%;
        background-color: #2FBBD4;
    }
    .list-md {
        margin-top: 0px;
    }
    .item-md p {
        margin-bottom: -6px;
    }
    .hotel-list {
        > ion-item {
            //            border-bottom: 1px solid #ddd;
            > a {
                padding: 0.8rem;
            }
        }
        .imgTags {
            width: 8.3rem;
            height: 5.6rem;
            img {
                max-width: 100%;
            }
            overflow:hidden;
        }
        .info {
            position: relative;
            padding-left: 0.5rem;
            //            height: 5.6rem;
            width: 50%;
            .cn-name {
                height: 1.4rem;
                line-height: 1.4rem;
                font-size: 1.05rem;
                color: #000;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .en-name {
                height: 1.2rem;
                line-height: 1.2rem;
                padding-top: 0.3rem;
                font-family: Arial;
                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .other {
                padding: 0.3rem 4.2rem 0 0;
                font-size: 0.8rem;
            }
            .other-info {
                //                padding-bottom: 0.4rem;
                overflow: hidden;
                span {
                    float: left;
                }
            }
            .address {
                margin-top: 9px;
            }
            .facility {
                margin: 0.1rem 0 0 0.4rem;
                overflow: hidden;
                i {
                    float: left;
                    margin-left: 0.3rem;
                    width: 0.8rem;
                    height: 0.8rem;
                    &.wifi {
                        background: url(/assets/images/icon11.png) no-repeat;
                        background-size: cover;
                    }
                    &.breakfast {
                        background: url(/assets/images/icon14.png) no-repeat;
                        background-size: cover;
                    }
                    &.swim {
                        background: url(/assets/images/icon13.png) no-repeat;
                        background-size: cover;
                    }
                    &.stall {
                        background: url(/assets/images/icon12.png) no-repeat;
                        background-size: cover;
                    }
                }
            }
            .price {
                position: absolute;
                right: 0;
                bottom: 4px;
                font-size: 1.5rem;
                color: #FF4d78;
                span {
                    font-size: 0.8rem;
                    color: #55595c;
                }
                b {
                    padding-left: 0.2rem;
                    font-size: 1rem;
                    font-weight: 400;
                    color: #FF4d78;
                }
            }
        }
    }
    /*-----------------Search Page-----------------*/
    .head-hunt {
        padding: 0.4rem 0.8rem 0 2.5rem;
        > a {
            &.city {
                display: block;
                width: 64%;
                height: 2.4rem;
                padding: 0 1rem 0 2rem;
                line-height: 2.4rem;
                font-size: 1.1rem;
                background: url(/assets/images/icon05.png) no-repeat 0.6rem 0.4rem #fff;
                background-size: 1.3rem 1.3rem;
                border-top-left-radius: 1.1rem;
                border-bottom-left-radius: 1.1rem;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }
            &.city-time {
                position: relative;
                width: 36%;
                padding: 0 1.7rem 0 0.3rem;
                height: 2.4rem;
                font-size: 0.7rem;
                color: #55595c;
                background: #fff;
                border-top-right-radius: 1.1rem;
                border-bottom-right-radius: 1.1rem;
                &:before {
                    position: absolute;
                    top: 0.4rem;
                    left: 0;
                    border-left: 1px solid #ddd;
                    height: 1.4rem;
                    content: '';
                }
                &:after {
                    position: absolute;
                    top: 0.6rem;
                    right: 0.8rem;
                    width: 0.9rem;
                    height: 0.9rem;
                    background: url(/assets/images/icon27.png) no-repeat;
                    background-size: cover;
                    content: '';
                }
                p {
                    white-space: nowrap;
                    padding-top: 0.3rem;
                    height: 0.9rem;
                    line-height: 0.9rem;
                    &:last-child {
                        padding-top: 0.1rem;
                    }
                }
                b {
                    padding-left: 0.3rem;
                    font-weight: 400;
                    color: #2FBBD4;
                    font-family: Arial;
                }
            }
        }
    }
    .search-bar {
        height: 3.1rem;
        line-height: 3rem;
        font-size: 1rem;
        border-bottom: 1px solid #ddd;
    }
    .condition {
        .condite-list {
            position: relative;
            height: 11.2rem;
            overflow-y: scroll;
            > li {
                position: relative;
                padding: 0 0.8rem;
                height: 2.8rem;
                font-size: 1.1rem;
                line-height: 2.7rem;
                border-bottom: 1px solid #ddd;
                box-sizing: border-box;
            }
        }
        .condite-btn {
            border-top: 1px solid #ddd;
            > a {
                display: inline-block;
                width: 50%;
                font-size: 1.1rem;
                line-height: 2.8rem;
                text-align: center;
                &:last-child {
                    background-color: #2FBBD4;
                    color: #fff;
                }
            }
        }
        .condite-list > li {
            > i {
                position: absolute;
                right: 0.9rem;
                top: 0.7rem;
                width: 1.3rem;
                height: 1.3rem;
                background: url(/assets/images/icon19.png) no-repeat;
                background-size: cover;
            }
            &.cur {
                color: #2FBBD4;
                > i {
                    background: url(/assets/images/icon20.png) no-repeat;
                    background-size: cover;
                }
            }
        }
        .condite-bar {
            position: absolute;
            left: 0;
            right: 0;
            top: 3.04rem;
            background-color: #fff;
            z-index: 3;
        }
        .condite-back {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            z-index: 2;
        }
    }
    .filter-bar > li {
        position: relative;
        border-left: 1px solid #ddd;
        background: #fff;
        z-index: 6;
        &.curen {
            color: #2FBBD4;
        }
        &:first-child {
            border-width: 0;
        }
        > i {
            display: inline-block;
            position: relative;
            bottom: -0.6rem;
            margin-right: 0.3rem;
            width: 1.8rem;
            height: 1.8rem;
            &.star {
                background: url(/assets/images/icon21.png) no-repeat;
                background-size: cover;
            }
            &.price {
                background: url(/assets/images/icon24.png) no-repeat;
                background-size: cover;
            }
            &.area {
                background: url(/assets/images/icon25.png) no-repeat;
                background-size: cover;
            }
        }
        &.curen > i {
            &.star {
                background: url(/assets/images/icon22.png) no-repeat;
                background-size: cover;
            }
            &.price {
                background: url(/assets/images/icon23.png) no-repeat;
                background-size: cover;
            }
            &.area {
                background: url(/assets/images/icon26.png) no-repeat;
                background-size: cover;
            }
        }
    }
}
