<!--
  Generated template for the SearchhotelsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>searchhotels</ion-title>
    </ion-navbar>
</ion-header>
<ion-content fullscreen>
    <div class="top-wrapper wrapper">
        <section>
            <div class="search-bar J-search-bar">
                <ul class="filter-bar tc box">
                    <li class="flex"><i class="star"></i>
                        <label>星级</label>
                    </li>
                    <li class="flex"><i class="price"></i>
                        <label>价格</label>
                    </li>
                    <li class="flex"><i class="area"></i>
                        <label>区域</label>
                    </li>
                </ul>
            </div>
            <div class="condition none">
                <div class="condite-back"></div>
                <div class="condite-bar condite-star none">
                    <ul class="condite-list">
                        <li><span>三星</span><i></i></li>
                        <li><span>四星</span><i></i></li>
                        <li><span>五星</span><i></i></li>
                    </ul>
                    <div class="condite-btn">
                        <a class="reset">重置</a><a class="ensure">确定</a>
                    </div>
                </div>
                <div class="condite-bar condite-price none">
                    <ul class="condite-list">
                        <li><span>低于AUD100</span><i class="cur"></i></li>
                        <li><span>AUD100-160</span><i></i></li>
                        <li><span>AUD160-260</span><i></i></li>
                        <li><span>AUD260以上</span><i></i></li>
                    </ul>
                    <div class="condite-btn">
                        <a class="reset">重置</a><a class="ensure">确定</a>
                    </div>
                </div>
                <div class="condite-bar condite-area none">
                    <ul class="condite-list">
                        <li><span>全部地区</span><i></i></li>
                        <li><span>市中心</span><i></i></li>
                    </ul>
                    <div class="condite-btn">
                        <a class="reset">重置</a><a class="ensure">确定</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div id="myProgress">
                <div id="myBar"></div>
            </div>
            <div class="hotel-all">
                <ion-list class="hotel-list">
                    <ion-item class="hotel-item" *ngFor="let item of showHotels">
                        <a class="box" href="javascript:void(0)" (click)="showDetail()">
                            <p class="imgTags"><img src="{{item.thumbNailUrls[0]}}" /></p>
                            <div class="flex info">
                                <p class="cn-name">{{item.hotelName}}</p>
                                <!--                                 <p class="en-name">{{item.originalName}}</p>
 -->
                                <div class="other">
                                    <p class="other-info">
                                        <span>                                        
                                            <div *ngIf="item.hotelRating && item.hotelRating.starRating==0">&nbsp;</div>
                                             <div  *ngIf="item.hotelRating && item.hotelRating.starRating||item.rating">
                                               <hotelrating [hotelRating]="item.hotelRating && item.hotelRating.starRating||item.rating">
                                               </hotelrating>
                                             </div>
                                        </span>
                                        <span class="facility"><i class="breakfast" *ngIf="item.mealsPlan && item.mealsPlan.breakfast && item.mealsPlan.breakfast == false"></i></span>
                                    </p>
                                    <div class="address">
                                        <span *ngIf="item.distanceToCbd && getDis(item.distanceToCbd,2.0) && (cityCode=='SYD' ||cityCode=='MEL')"> 
                                                     {{'In CBD' | translate }}
                                        </span>
                                        <span *ngIf="item.distanceToCbd && getDis(item.distanceToCbd,2.0)==false  && (cityCode=='SYD' || cityCode=='MEL')">{{'To CBD -' | translate }} {{item.distanceToCbd}}
                                        </span>
                                        <span *ngIf="distanceToCbd && getDis(item.distanceToCbd,1.0) && (cityCode !='SYD' && cityCode !='MEL')">
                                                    {{'In CBD' | translate }} 
                                        </span>
                                        <span *ngIf="item.distanceToCbd && getDis(item.distanceToCbd,1.0)==false && (cityCode != 'SYD' && cityCode != 'MEL')">{{'To CBD -' | translate }} {{item.distanceToCbd}}
                                        </span>
                                        <div style="margin-top: 0.4rem" *ngIf="item.distanceToAirport">{{'To Airport -' | translate }} {{item.distanceToAirport}}</div>
                                    </div>
                                    <p class="price"><span>最低</span><b>AUD</b>{{toolserviceProvider.priceIntegerFloor(item.secondaryPrice/nights)}}</p>
                                </div>
                            </div>
                        </a>
                    </ion-item>
                </ion-list>
                <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </section>
    </div>
</ion-content>
